//color variables
$primary-color: #2C2C2C;
$secondary-color: #F6A823;
$accent-color-1: #05AFC1;
$accent-color-2:#A82706;
$dark-color-1: #285E64;
$dark-color-2: #4F4F4F;
$light-color: #F0EFED;

// font variable
$primary-font : 'Roboto', sans-serif;

